{% for k8s_ingress_nginx_service in k8s_ingress_nginx_services: %}
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ k8s_ingress_nginx_service.name }}"
  namespace: ingress-nginx
spec:
{{ k8s_ingress_nginx_service.spec|to_yaml|indent(2,true) }}
{% endfor %}
