---
apiVersion: v1
kind: ConfigMap
data:
  config.json: |-
    [
      {
        "clusterID": "{{ k8s_ceph_csi_clusterid }}",
        "monitors": [
          {% for osd in k8s_ceph_csi_monitors %}
          "{{ osd }}"{% if not loop.last %},{% endif %}

          {% endfor %}
        ]
      }
    ]
metadata:
  name: ceph-csi-config
