apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
certificateKey: "{{ k8s_master_cert_key }}"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
    podSubnet: "{{ k8s_network_cidr }}"
controlPlaneEndpoint: "{{ k8s_control_plane_endpoint }}"
clusterName: "{{ k8s_cluster_name }}"
