---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ k8s_user.rolebinding_name }}
  namespace: {{ k8s_user.namespace }}
subjects:
  # It is possible to specify more than one "subject"
  - kind: User
    name: {{ k8s_user.name }}
    apiGroup: ""
roleRef:
  # "roleRef" specifies the binding to a Role / ClusterRole
  kind: Role # This must be Role or ClusterRole
  name: {{ k8s_user.role_name }} # This must match the name of the Role or ClusterRole you wish to bind to
  apiGroup: ""
