---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-config
  namespace: {{ k8s_ceph_csi_namespace }}
data:
  config.json: |-
    [
      {
        "clusterID": "{{ k8s_ceph_csi_clusterid }}",
        "monitors": [
          {% for osd in k8s_ceph_csi_monitors %}
          "{{ osd }}"{% if not loop.last %},{% endif %}

          {% endfor %}
        ]
      }
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-config
  namespace: {{ k8s_ceph_csi_namespace }}
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx
  keyring: |
