{% for k8s_metallb_pool in k8s_metallb_pools %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ k8s_metallb_pool.name }}
  namespace: metallb-system
spec:
  addresses:
  - {{ k8s_metallb_pool.addresses }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ k8s_metallb_pool.name }}
  namespace: metallb-system
spec:
  ipAddressPools:
  - {{ k8s_metallb_pool.name }}
{% endfor %}
