---
apiVersion: v1
kind: Secret
metadata:
  name: csi-rbd-secret
  namespace: "{{ k8s_ceph_csi_namespace }}"
stringData:
  userID: {{ k8s_ceph_csi_secret_userid }}
  userKey: {{ k8s_ceph_csi_secret_userkey }}
